/*Top bar */

.topbar {
padding-top: 10px;
padding-left: 10px;
font-family: arial, sans-serif;
font-size: 13px;
}


.topright {
	float: right;

}

.topleft {
	display: inline;
}

nav div a {
	padding: 10px;
	text-decoration: none;
	color: black;
	opacity: 0.75;
}

nav div a:hover {
	text-decoration: underline;
}
	

#signbutton {
	border: none;
	height: 30px;
	font-family: arial, sans-serif;
	font-weight: bold;
	background-color: rgb(77, 121, 255);
	color: white;

}

/* Center of the page */

.centerpage {
	position: relative;
	left: 36%;
	top: 180px;
	width: 600px;
	text-align: center;
	
}

#searchbar {
	width: 500px;
	height: 40px;
	margin-top: 15px;
	box-shadow: 2px 2px 5px rgb(242, 242, 242);
}

div form button {
	margin-top: 20px;
	border: none;
	width: 150px;
	height: 40px;
	font-family: arial, sans-serif;
	font-weight: bold;
	cursor: pointer;
}