/*Top bar */

.topbar  {
padding-top: 10px;
padding-left: 10px;
font-family: arial, sans-serif;
font-size: 13px;
}


.topright {
	float: right;

}

.topleft {
	display: inline;
}

body div a {
	padding: 10px;
	text-decoration: none;
	color: black;
	opacity: 0.75;
}

nav div a:hover {
	text-decoration: underline;
}
	

#signbutton {
	border: none;
	height: 30px;
	font-family: arial, sans-serif;
	font-weight: bold;
	background-color: rgb(77, 121, 255);
	color: white;

}

/* Center of the page */

.centerpage {
	position: relative;
	left: 36%;
	top: 180px;
	width: 600px;
	text-align: center;
	
}

#searchbar {
	width: 500px;
	height: 40px;
	margin-top: 15px;
	box-shadow: 2px 2px 5px rgb(242, 242, 242); 
	outline: none;
}

div form button {
	margin-top: 20px;
	border: none;
	width: 150px;
	height: 40px;
	font-family: arial, sans-serif;
	font-weight: bold;
	cursor: pointer;
	
}

/* Bottom of the page */

/*.bottombar {
	display: inline;
	position: relative;
	top: 575px;
	background-color: grey;

}

.bottomright {
	float: right;
	position: relative;
	top: 575px;
}

.bottomleft {
	display: inline;
}

footer div a {
	text-decoration: none;
	font-family: arial, sans-serif;
	font-size: 13px;
}

footer div a:hover {
	text-decoration: underline;
}
*/

.bottombar {
	position: absolute;
	right: 0;
	bottom: 0px;
	left: 0;
	background-color: rgb(230, 230, 230);
	padding: 15px;

}

.bottombar a {
	padding: 10px;
	font-family: arial, sans-serif;
	font-size: 13px;

}

.bottombar a:hover {
	text-decoration: underline;
}

.bottomleft {
	display: inline;
}

.bottomright {
	display: block-inline;
	float: right;
}
